.typography-bold{
  font-weight: bold;
}

.text-ellipsis{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
}

.damage-card .MuiCardHeader-title, .damage-card .MuiCardHeader-subheader{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

.cursor-pointer{
  cursor: pointer;
}

.card{
  transition: all 100ms ease-in-out;
}

.card-hover-anim:hover {
  transform: scale(1.04);
  border: none;
}

.description-textarea textarea{
  height: 276px !important;
}

.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  backdrop-filter: blur(35px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.input-error{
  color: red;
  margin-left: 5px;
  margin-top: 5px;
}

.date-text{
  font-size: 12px;
  font-family: "Roboto","Helvetica","Arial",sans-serif;
  padding-right: 16px;
  text-align: right;
  margin-top: -12px;
  padding-bottom: 5px;
}

@media (min-width: 600px) and (max-width: 900px) {
  .tablet-cloums {
    flex-basis: 33.33% !important;
    max-width: 33.33% !important;
  }
}
